<form class="form-inline">
  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <div class="input-field col s2">
          <app-family-selector></app-family-selector>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label for="start"> Start Time</label>
          <app-shift-time-picker id="start"></app-shift-time-picker>
        </div>

        <div class="col">
            <label for="end">End Time</label>
            <app-shift-time-picker id="end"></app-shift-time-picker>
          </div>
        </div>
      </div>
    </div>
</form>